{% extends "base_backend.html" %}

{% block content %}
<div class="page-header">
    <h2>{{ headline }}</h2>
</div>
{% url 'record_list' as backurl %}
{% if not object.is_pending %}
<p>Está a punto de restablecer un registro. ¿Desea continuar?</p>
<form method="post">
    {% csrf_token %}
    <hr/>
    <button type="submit" class="btn btn-warning">Restablecer registro</button>
    <a href="{{ request.GET.volver|default:backurl }}" class="btn btn-default">Cancelar</a>
</form>
{% else %}
    <p class="alert alert-danger">Este registro no se puede restablecer.</p>
    <a href="{{ request.GET.volver|default:backurl }}" class="btn btn-default">Volver</a>
{% endif %}
{% endblock content %}
