{% extends "base_print.html" %}
{% load money %}

{% block content %}
<h2>{{ headline }}</h2>
<table>
    <thead>
        <tr>
            <th class="col-md-1">Registro</th>
            <th class="col-md-6">Detalles</th>
            <th class="col-md-3">Tipo / Estado</th>
            <th class="col-md-1">Importe</th>
            <th class="col-md-1">Moneda</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for record in object_list %}
        <tr id="{{ record.display_id }}">
            <td>
                {{ record.yuid }}<br/>
                <small>{{ record.date|date:"d/m/y" }}</small><br/>
                {% if record.plan != record.date.year %}<small class="text-danger"><b>P-{{ record.plan }}</b></small>{% endif %}
            </td>
            <td>
                {{ record.destination }}<br/>
                <small>{{ record.destination.area.name }}</small><br/>
                <small class="text-muted">{{ record.description|default:"No se especificaron más detalles" }}</small>
            </td>
            <td>
                {{ record.concept.name }}<br/>
                <small>{{ record.get_status_display }}</small>
            </td>
            <td align="right">
                {{ record.amount }}
            </td>
            <td class="text-center">
                {{ record.get_currency_display }}
            </td>
            <td>
                <i class="fa fa-{% if record.is_cancelled %}times{% elif record.is_confirmed %}check{% elif record.is_pending %}question{% endif %}-circle text-{% if record.is_cancelled %}danger{% elif record.is_confirmed %}success{% elif record.is_pending %}warning{% endif %}"></i>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">No hay registros para mostrar.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
