{% extends "base_backend.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="page-header">
    <h2>{{ headline }}</h2>
</div>
{% url 'record_list' as backurl %}
{% if not object or object.is_pending %}
<form method="post">
    {% csrf_token %}
    {{ form|as_crispy_errors }}
    <div class="row">
        <div class="col-md-4">{{ form.date|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.plan|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.destination|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.concept|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.amount|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.description|as_crispy_field }}</div>
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary">Guardar registro</button>
    <a href="{{ request.GET.volver|default:backurl }}" class="btn btn-default">Cancelar</a>
</form>
{% else %}
    {% if object.is_confirmed %}
    <p class="alert alert-danger">No es posible editar un registro confirmado.</p>
    {% elif object.is_cancelled %}
    <p class="alert alert-danger">No es posible editar un registro cancelado.</p>
    {% endif %}
    <a href="{{ request.GET.volver|default:backurl }}" class="btn btn-default">Volver</a>
{% endif %}
{% endblock content %}